#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
}

.album {
  flex-basis: 100%;
  border-radius: 5px;
}

.album img {
  width: 100%;
  border-radius: 5px;
}

.album-details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artist-name {
  font-size: 16;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.album-name {
 font-size: 14px;
  margin: 0;
  padding: 0;
}
