#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
}

.album {
  flex-basis: 100%;
}

.album img {
  width: 100%;
  border-radius: 5px;
}

.album-details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artist-name {
  font-size: 16;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.album-name {
 font-size: 14px;
  margin: 0;
  padding: 0;
}



.image img{
  width: 100%;
  border-radius: 5px;
}

.metadata {
  display: flex;
  justify-content: center;
  margin: 0;
}

.heading {
  margin-bottom: 3rem;
}

.details p {
 margin: 0;
}

.artist {
  font-size: 1.4rem;
}
.title {
  font-size: 1.2rem;
}

.tracks li {
  margin: 0.5rem 0;
}

 .album-name {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.8)
 }


@media (min-width: 768px) {
  .container {
    gap: 1rem;
    column-gap: .5rem;
  }
  .album {
    flex-basis: 46%;
  }
 .heading {
   display: flex;
  }
  
  .details {
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-left: 1rem;
 }

 .image img {
  width: 180px
 }
}

@media(min-width: 992px) {
  .album {
    flex-basis: 30%
  }
}

@media (min-width: 1200px) {
  .album {
    flex-basis: 22%;
    transition: transform 500ms;
  }
  .album:hover {
    transform: scale(1.05);
    background-color: rgba(0,0,0,0.2);
  }

 
  .album-name:hover {
    text-decoration: underline
  }


}