#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
}

.album {
  flex-basis: 100%;
  
  & img {
    width: 100%;
      border-radius: 5px;
  }
}

.album-details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artist-name {
  font-size: 16;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8)
}

.album-name {
 font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8)
}

.image img{
  width: 100%;
  border-radius: 5px;
}

.metadata {
  display: flex;
  justify-content: center;
  margin: 0;
}

.heading {
  margin-bottom: 3rem;
}

.details p {
 margin: 0;
}

.artist {
  font-size: 1.4rem;
}
.title {
  font-size: 1.2rem;
}

.tracks li {
  margin: 0.5rem 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;

 & label {
  font-size: 2rem;;
 }
  & input {
    height: 50px;
    font-size: 1.3rem;
  }
  

  & button {
    border-radius: 3px;
    border: none;
    font-size: 1.3rem;
    height: 50px;
  }
}


@media (min-width: 768px) {
  .container {
    gap: 1rem;
    column-gap: .5rem;
  }
  .album {
    flex-basis: 46%;
  }
 .heading {
   display: flex;
  }
  
  .details {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-left: 1rem;
 }

 .image img {
  width: 180px;
 }

 .search-container {
  flex-direction: row;
  max-width: 800px;
  justify-content: flex-end;

  & label {
    margin-right: auto;
  }
  & input {
    width: 200px;
    height: 40px;
  }
  & button {
    height: 46px;
    width: 120px
  }
 }
}

@media(min-width: 992px) {
  .album {
    flex-basis: 30%
  }
}

@media (min-width: 1200px) {
  .album {
    flex-basis: 22%;
    transition: transform 500ms;
  }
  .album:hover {
    transform: scale(1.05);
    background-color: rgba(0,0,0,0.2);
  }

  .album-name:hover {
    text-decoration: underline
  }
}